{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": 0,
    "semi": ["error", "never"],
    "no-duplicate-imports": "error",
    "no-self-compare": "error",
    "no-unreachable-loop": "error",
    "no-unused-private-class-members": "warn",
    "eqeqeq": ["error", "smart"],
    "no-lone-blocks": "error",
    "no-var": "error",
    "spaced-comment": ["error", "always", {
      "block": {
        "balanced": true
      }
    }],
    "eol-last": "error",
    "no-trailing-spaces": "error",
    "quotes": "error"
  }
}
